@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    margin: 0 auto;
    width: min(90%, 400px);
  }
  .visible {
    display: block;
  }
  .error {
    border-color: hsl(0, 100%, 67%);
  }
}

@font-face {
  font-family: "Poppins";
  src: url(assets/fonts/Poppins-Bold.ttf),
    url(assets/fonts/Poppins-BoldItalic.ttf);
}
